In [ ]:
import numpy as np
import pandas as pd

# **1.File train**

In [ ]:
#Vì file quá lớn nên nhóm em up lên drive rồi upload lên đây, link drive: https://drive.google.com/file/d/1LPzdw8dvC6m5YgTIy9M3lS52LyvvG7VI/view?usp=sharing
!gdown --id 1LPzdw8dvC6m5YgTIy9M3lS52LyvvG7VI

Downloading...
From: https://drive.google.com/uc?id=1LPzdw8dvC6m5YgTIy9M3lS52LyvvG7VI
To: /content/ALL.json
173MB [00:01, 170MB/s]

In [ ]:
#Tiền xử lý dữ liệu với all.json là file tổng hợp data đã crawl được từ 8 website ở deadline trước 
f = open("ALL.json", "r")
for x in f:
  # Mỗi dòng định dang lại theo format: *article_link* " *headline* " *is_sarcastic*
  x=x.replace('article_link', "")
  x=x.replace('headline', "")
  x=x.replace('is_sarcastic', "")
  x=x.replace('"": "', "")
  x=x.replace('"": ', "")
  x=x.replace('{', "")
  x=x.replace('}', "")
  x=x.replace('",', '"')
  #tạo file train.txt rồi lưu mỗi dòng đã xử lý vào file
  fileOutput = "train.txt"
  f = open(fileOutput, "a", encoding="utf-8")
  f.writelines(x)
  f.close()

In [ ]:
# Đọc file CSV
data_train = pd.read_csv("train.txt", delimiter='"', names=['article_link','headline',  'is_sarcastic'])
#kiểm tra thông tin của file
data_train

                                             article_link  ... is_sarcastic
0       https://www.thetimes.co.uk/article/aston-villa...  ...            0
1       https://www.thetimes.co.uk/article/antarctic-a...  ...            0
2       https://www.thetimes.co.uk/article/argentina-c...  ...            0
3       https://www.thetimes.co.uk/article/amazon-pain...  ...            0
4       https://www.thetimes.co.uk/article/autumn-as-t...  ...            0
...                                                   ...  ...          ...
842546  https://babylonbee.com/news/zuckerberg-emerges...  ...            1
842547  https://babylonbee.com/news/zuckerberg-loses-c...  ...            1
842548  https://babylonbee.com/news/zuckerberg-promise...  ...            1
842549  https://babylonbee.com/news/zuckerberg-require...  ...            1
842550  https://babylonbee.com/news/zuckerberg-vows-to...  ...            1

[842551 rows x 3 columns]

# **2.File test**
*   Để quá trình train diễn ra nhanh chóng và thuận tiện, nhóm em đã hỏi ý và xin data nhóm bạn: Cao Đức trí (link github: https://github.com/hauphanlvc/CS114.L21AndCS114.L22.KHCL) để làm data test.
*   Data test gồm:
    
    breitbart(0): 65996 headlines

    newthump(1): 3805 headlines

In [ ]:
#link drive file tổng hợp 2 trang báo: https://drive.google.com/file/d/1jtl0JpkdVfH402cesMcchrCvmvZTiWzc/view?usp=sharing
!gdown --id 1jtl0JpkdVfH402cesMcchrCvmvZTiWzc

Downloading...
From: https://drive.google.com/uc?id=1jtl0JpkdVfH402cesMcchrCvmvZTiWzc
To: /content/test.json
17.3MB [00:00, 65.6MB/s]

In [ ]:
f = open("test.json", "r")
for x in f:
  # Mỗi dòng định dang lại theo format: *article_link* " *headline* " *is_sarcastic*
  x=x.replace('article_link', "")
  x=x.replace('headline', "")
  x=x.replace('is_sarcastic', "")
  x=x.replace('"": "', "")
  x=x.replace('"": ', "")
  x=x.replace('{', "")
  x=x.replace('}', "")
  x=x.replace('",', '"')
  
  #tạo file test.txt rồi lưu mỗi dòng đã xử lý vào file
  fileOutput = "test.txt"
  f = open(fileOutput, "a", encoding="utf-8")
  f.writelines(x)
  f.close()

In [ ]:
# Đọc file CSV
data_test = pd.read_csv("test.txt", delimiter='"', names=['article_link','headline',  'is_sarcastic'])
#kiểm tra thông tin của file
data_test

                                            article_link  ... is_sarcastic
0      https://www.breitbart.com/europe/2021/06/12/wa...  ...            0
1      https://www.breitbart.com/sports/2021/06/12/l-...  ...            0
2      https://www.breitbart.com/politics/2021/06/12/...  ...            0
3      https://www.breitbart.com/politics/2021/06/12/...  ...            0
4      https://www.breitbart.com/border/2021/06/12/10...  ...            0
...                                                  ...  ...          ...
67137  https://newsthump.com/2019/10/03/climate-chang...  ...            1
67138  https://newsthump.com/2019/06/07/tory-leadersh...  ...            1
67139  https://newsthump.com/2019/03/21/im-on-your-si...  ...            1
67140  https://newsthump.com/2019/12/18/whirlpools-ne...  ...            1
67141  https://newsthump.com/2019/06/22/boris-johnson...  ...            1

[67142 rows x 3 columns]

In [ ]:
# link drive của file trang châm biến newsthump: https://drive.google.com/file/d/1ZqSwqFUKrCHQbLwpSvzLtAku3m8j_IWg/view?usp=sharing

In [ ]:
!gdown --id 1ZqSwqFUKrCHQbLwpSvzLtAku3m8j_IWg

Downloading...
From: https://drive.google.com/uc?id=1ZqSwqFUKrCHQbLwpSvzLtAku3m8j_IWg
To: /content/NewsThump.json
100% 975k/975k [00:00<00:00, 64.2MB/s]

In [ ]:
f = open("NewsThump.json", "r")
for x in f:
  # Mỗi dòng định dang lại theo format: *article_link* " *headline* " *is_sarcastic*
  x=x.replace('article_link', "")
  x=x.replace('headline', "")
  x=x.replace('is_sarcastic', "")
  x=x.replace('"": "', "")
  x=x.replace('"": ', "")
  x=x.replace('{', "")
  x=x.replace('}', "")
  x=x.replace('",', '"')
  
  #tạo file NewsThumptest.txt rồi lưu mỗi dòng đã xử lý vào file
  fileOutput = "NewsThumptest.txt"
  f = open(fileOutput, "a", encoding="utf-8")
  f.writelines(x)
  f.close()

In [ ]:
# Đọc file CSV
data_test_NT = pd.read_csv("NewsThumptest.txt", delimiter='"', names=['article_link','headline',  'is_sarcastic'])
#kiểm tra thông tin của file
data_test_NT

                                           article_link  ... is_sarcastic
0     https://newsthump.com/2021/04/30/larry-the-cat...  ...            1
1     https://newsthump.com/2021/04/19/queen-and-oth...  ...            1
2     https://newsthump.com/2020/02/13/boris-johnson...  ...            1
3     https://newsthump.com/2020/02/01/britain-alrea...  ...            1
4     https://newsthump.com/2019/08/28/queen-brillia...  ...            1
...                                                 ...  ...          ...
3800  https://newsthump.com/2019/10/03/climate-chang...  ...            1
3801  https://newsthump.com/2019/06/07/tory-leadersh...  ...            1
3802  https://newsthump.com/2019/03/21/im-on-your-si...  ...            1
3803  https://newsthump.com/2019/12/18/whirlpools-ne...  ...            1
3804  https://newsthump.com/2019/06/22/boris-johnson...  ...            1

[3805 rows x 3 columns]

In [ ]:
# Data train
#Xóa dòng có giá trị NaN xa khỏi data
data_train = data_train.dropna(how = 'any')
# Lấy 2 cột cần thiết là headline và is_sarcastic
new_data_train = data_train.copy()
new_data_train = new_data_train[['headline', 'is_sarcastic']]

# Data test
#Xóa dòng có giá trị NaN xa khỏi data
data_test = data_test.dropna(how = 'any')
# Lấy 2 cột cần thiết là headline và is_sarcastic
new_data_test = data_test.copy()
new_data_test = new_data_test[['headline', 'is_sarcastic']]

# Data test NewsThump
#Xóa dòng có giá trị NaN xa khỏi data
data_test_NT = data_test_NT.dropna(how = 'any')
# Lấy 2 cột cần thiết là headline và is_sarcastic
new_data_test_NT = data_test_NT.copy()
new_data_test_NT = new_data_test_NT[['headline', 'is_sarcastic']]

In [ ]:
import re 
def format(x):
    #chuyển tất cả sang string
    x=str(x)
    # Loại bỏ các kí tự khác 0 - 9, a - z và khoảng cách
    x = re.sub("[^0-9a-z ]", '', x)
    return x
new_data_train['headline'] = new_data_train['headline'].apply(format)

new_data_train

                                                 headline is_sarcastic
0        aston villa match postponed after covid19 out...            0
1        antarctic architect hugh broughton wants warm...            0
2        argentina captain pablo matera sacked over ra...            0
3            amazon paintings reveal ice age civilisation            0
4                     autumn as told by a farmer and poet            0
...                                                   ...          ...
842546   mark zuckerberg emerges from under mans bed t...            1
842547   zuckerberg loses contact lens during senate h...            1
842548   zuckerberg promises new dating service will r...            1
842549   zuckerberg requires house members to accept t...            1
842550   zuckerberg vows to keep us elections safe fro...            1

[842424 rows x 2 columns]

In [ ]:
def format(x):
    #chuyển tất cả sang string
    x=str(x)
    # Chuyển sang kí tự chữ thường
    x = x.lower()
    # Loại bỏ các kí tự khác 0 - 9, a - z và khoảng cách
    x = re.sub("[^0-9a-z ]", '', x)
    return x
new_data_test['headline'] = new_data_test['headline'].apply(format)

new_data_test

                                                headline is_sarcastic
0       watch french farleft leader doused with flour...            0
1       la super bowl host committee gives grant to a...            0
2       pa falling short of 70 fully vaccinated mask ...            0
3              cdc 426 of us adults are fully vaccinated            0
4       100 migrants found in stash house near border...            0
...                                                  ...          ...
67137   climate change u2018written off as a hoaxu201...            1
67138   tory leadership contest to introduce swimsuit...            1
67139   u201ciu2019m on your sideu201d insists woman ...            1
67140   whirlpoolu2019s new christmas advert shows fa...            1
67141   boris johnson wakes from massive bender hopin...            1

[67142 rows x 2 columns]

In [ ]:
def format(x):
    #chuyển tất cả sang string
    x=str(x)
    # Chuyển sang kí tự chữ thường
    x = x.lower()
    # Loại bỏ các kí tự khác 0 - 9, a - z và khoảng cách
    x = re.sub("[^0-9a-z ]", '', x)
    return x
new_data_test_NT['headline'] = new_data_test_NT['headline'].apply(format)

new_data_test_NT

                                               headline  is_sarcastic
0      larry the cat already scratched the shit out ...             1
1      queen and other top monarchs to break away an...             1
2                boris johnson unveils new look cabinet             1
3      britain already 36 more british since leaving...             1
4      queen brilliantly steers attention away from ...             1
...                                                 ...           ...
3800   climate change u2018written off as a hoaxu201...             1
3801   tory leadership contest to introduce swimsuit...             1
3802   u201ciu2019m on your sideu201d insists woman ...             1
3803   whirlpoolu2019s new christmas advert shows fa...             1
3804   boris johnson wakes from massive bender hopin...             1

[3805 rows x 2 columns]

# **3.Removing stop words with NLTK in Python**

In [ ]:
#Nguồn tham khảo: https://www.geeksforgeeks.org/removing-stop-words-nltk-python/
import nltk 
nltk.download('punkt')
from nltk.tokenize import word_tokenize
nltk.download("stopwords")
from nltk.corpus import stopwords
x_train_nltk = []
for s in new_data_train['headline']:
  s=str(s)
  x_train_nltk.append(word_tokenize(s))

x_test_nltk = []
for s in new_data_test['headline']:
  s=str(s)
  x_test_nltk.append(word_tokenize(s))

x_test_NT_nltk = []
for s in new_data_test_NT['headline']:
  s=str(s)
  x_test_NT_nltk.append(word_tokenize(s))

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
#danh sách tất cả stop words
all_stopwords=set(stopwords.words('english'))
print(all_stopwords)
print(len(all_stopwords))

{'about', "it's", 'it', 'aren', 'hadn', 'don', 'here', 'her', "you'll", 'who', 'how', 'of', 'after', 'from', 'have', 'such', 'our', "couldn't", 'be', 'an', 'below', 'i', 'other', 'ours', 'just', 'has', 'o', 'his', 'each', 'whom', "wouldn't", 'those', 'to', "won't", 'now', 'm', 'once', 'than', 'herself', 'were', 'only', 'their', 'am', 'won', 'nor', "didn't", 'theirs', 'above', 'me', 'yourself', "should've", 'no', 'my', 'ourselves', 'against', "isn't", 'through', 'when', 'him', 'by', 'as', 'some', 'most', 'the', 'should', 'wasn', 'this', 'she', 'your', "that'll", 'until', 'do', 'doesn', 'll', 'there', "hasn't", 'y', 'yourselves', 'shouldn', 'in', 'itself', 'wouldn', 'between', 'any', "mustn't", 'been', 't', "needn't", 'at', 'being', 'having', 'few', 'and', 'same', 'a', 'very', "she's", 'haven', 'are', 'you', 'both', 'them', 'more', 'during', 'mightn', 'needn', "mightn't", 'which', 'did', "doesn't", 'themselves', "wasn't", 'further', 'while', "weren't", 'had', 'isn', 'down', 'so', 'd', "you'd", 'didn', 'he', 's', 'will', 'doing', 'too', 'if', 'couldn', 'they', 'all', 'over', 'yours', 'hasn', "haven't", 'mustn', 'up', "don't", 'that', 've', "shan't", 'for', 'before', 'out', 'what', 'myself', 'with', 'again', 'we', 'not', 'off', 'was', 'does', 'ain', 'because', 'is', 'weren', 'shan', 'then', "shouldn't", 'can', 're', 'why', 'hers', 'its', 'under', "you're", 'or', 'ma', 'own', 'where', "you've", 'himself', 'on', "aren't", "hadn't", 'into', 'these', 'but'}
179

In [ ]:
#loại bỏ stop words trong data train:
filtered_sentence_train = []
for words in x_train_nltk:
  filtered_sentence=[]
  for w in words:
    if w not in all_stopwords:
        filtered_sentence.append(w)
  filtered_sentence_train.append(filtered_sentence)
#loại bỏ stop words trong data test:
filtered_sentence_test = []
for words in x_test_nltk:
  filtered_sentence=[]
  for w in words:
    if w not in all_stopwords:
        filtered_sentence.append(w)
  filtered_sentence_test.append(filtered_sentence)

#loại bỏ stop words trong data test NewsThump:
filtered_sentence_test_NT = []
for words in x_test_NT_nltk:
  filtered_sentence=[]
  for w in words:
    if w not in all_stopwords:
        filtered_sentence.append(w)
  filtered_sentence_test_NT.append(filtered_sentence)

# **4.Train với data chưa xóa stop_word**

In [ ]:
x_train, y_train = new_data_train['headline'], new_data_train['is_sarcastic']
x_test, y_test = new_data_test['headline'], new_data_test['is_sarcastic']
x_test_NT, y_test_NT= new_data_test_NT['headline'], new_data_test_NT['is_sarcastic']

In [ ]:
#Nguồn code tham khảo: https://scikit-learn.org/stable/tutorial/text_analytics/working_with_text_data.html
#                      https://towardsdatascience.com/machine-learning-nlp-text-classification-using-scikit-learn-python-and-nltk-c52b92a7c73a
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
import numpy as np

text_clf = Pipeline([
    ('vect', CountVectorizer()),
    ('tfidf', TfidfTransformer()),
    ('clf', MultinomialNB()),
])

text_clf.fit(x_train, y_train)
#predict với data tổng hợp
y_predict = text_clf.predict(x_test)

#Đo độ chính xác
np.mean(y_predict == y_test)

0.9429269309820977

In [ ]:


#predict chỉ với data trang châm biếm NewsThump
y_predict_NT = text_clf.predict(x_test_NT)

#Đo độ chính xác NT:
np.mean(y_predict_NT == y_test_NT)

0.0

In [ ]:
from sklearn.linear_model import SGDClassifier
text_clf = Pipeline([
     ('vect', CountVectorizer()),
     ('tfidf', TfidfTransformer()),
     ('clf', SGDClassifier()),
 ])
text_clf.fit(x_train, y_train)

y_predict = text_clf.predict(x_test)
#Đo độ chính xác
np.mean(y_predict == y_test)

0.9429120371749427

In [ ]:
#predict chỉ với data trang châm biếm NewsThump

y_predict_NT = text_clf.predict(x_test_NT)
#Đo độ chính xác
np.mean(y_predict_NT == y_test_NT)

0.0

# **4.Train với data đã xóa stop_word**

In [ ]:
x_train, y_train = filtered_sentence_train, new_data_train['is_sarcastic']
x_test, y_test =  filtered_sentence_test, new_data_test['is_sarcastic']
x_test_NT, y_test_NT = filtered_sentence_test_NT, new_data_test_NT['is_sarcastic']

In [ ]:
# Vì data train và test sau khi xóa stop words là list không fit được nên chuyển tập list thành string 
# Nguồn code tham khảo: https://www.geeksforgeeks.org/python-program-to-convert-a-list-to-string/
x_train = [" ".join(x) for x in x_train]
x_test =[" ".join(x) for x in x_test]
x_test_NT = [" ".join(x) for x in x_test_NT]

In [ ]:
from sklearn.linear_model import SGDClassifier
text_clf = Pipeline([
     ('vect', CountVectorizer()),
     ('tfidf', TfidfTransformer()),
     ('clf', SGDClassifier()),
 ])
text_clf.fit(x_train, y_train)

y_predict = text_clf.predict(x_test)
#Đo độ chính xác
np.mean(y_predict == y_test)

0.9429120371749427

In [ ]:
#predict chỉ với data trang châm biếm NewsThump

y_predict_NT = text_clf.predict(x_test_NT)
#Đo độ chính xác
np.mean(y_predict_NT == y_test_NT)

0.0

In [ ]:
text_clf = Pipeline([
    ('vect', CountVectorizer()),
    ('tfidf', TfidfTransformer()),
    ('clf', MultinomialNB()),
])

text_clf.fit(x_train, y_train)

y_predict = text_clf.predict(x_test)
#Đo độ chính xác
y_predict
np.mean(y_predict == y_test)

0.9429418247892526

In [ ]:


#predict chỉ với data trang châm biếm NewsThump
y_predict_NT = text_clf.predict(x_test_NT)

#Đo độ chính xác NT:
np.mean(y_predict_NT == y_test_NT)

0.0

# **5.Nhận xét và đánh giá**


*   Sau khi nhóm thử thử nghiệm phân loại bằng SGDClassifier và Naive Bayes trước(0) và sau(1) khi remove stop words thì thu được kết quả có độ chính xác: SGDClassifier(0): 94,2912%, SGDClassifier(1): 94,2912%, Naive Bayes(0):  94,2927%, Naive Bayes(1): 94,2942%.

*   Kết quả này rất thấp, bằng chứng là khi predict với data trang châm biếm NewThump thì độ chính xác đều bằng 0%.

*   Hai model SGDClassifier và Naive Bayes làm việc với text data tốt nhưng Data của các trang chính thống quá lớn so với data của những trang châm biến dẫn đến việc train và dự đoán kết quả không cao.